<div class="row">
  <table>
    <tr>
      <td>Pre-workshop</td>
      <td><a href="{{ site.pre_survey }}" target="_blank">Pre-workshop survey</a></td>
    </tr>
  </table>
  <table class="table table-striped">
    <tr>
      <th> Time</th>
      <th> Monday (25th) </th>
      <th> Tuesday (26th) </th>
      <th> Wednesday (27th) </th>
    </tr>
    <tr>
      <td> 09:00 - 10:00 </td>
      <td>No scheduled events</td>
      <td><a href="{{page.root}}{% link _episodes/PulsarData.md %}">Interacting with Pulsar Data</a></td>
      <td>Noise Modelling</td>
    </tr>
    <tr>
      <td> 10:00 - 10:30 </td>
      <td> Arrival, check in and registration </td>
      <td> Morning Tea Break </td>
      <td> Morning Tea Break </td>
    </tr>
    <tr>
      <td> 10:30 - 11:20 </td>
      <td> <a href="{{page.root}}{% link _episodes/Setup.md %}">Software Debugging </a></td>
      <td> Pulsar Timing Theory </td>
      <td> <a href="{{page.root}}{% link _episodes/SinglePulsarNoise.md %}">Single Pulsar Noise Analysis with Enterprise</a> </td>
    </tr>
    <tr>
      <td> 11:20 - 11:30 </td>
      <td> Short Break </td>
      <td> Short Break </td>
      <td> Short Break </td>
    </tr>
    <tr>
      <td> 11:30 - 12:30 </td>
      <td> Introduction to MeerKAT </td>
      <td> <a href="{{page.root}}{% link _episodes/ToAs.md %}">Creating ToAs</a> </td>
      <td> <a href="{{page.root}}{% link _episodes/SinglePulsarNoise.md %}">Single Pulsar Noise Analysis with Enterprise</a> </td>
    </tr>
    <tr>
      <td> 12:30 - 13:30 </td>
      <td> Lunch Break </td>
      <td> Lunch Break </td>
      <td> Lunch Break </td>
    </tr>
    <tr>
      <td> 13:30 - 14:20 </td>
      <td> Introduction to pulsars / searches </td>
      <td> <a href="{{page.root}}{% link _episodes/Tempo2.md %}">Timing with Tempo2</a>  </td>
      <td> <a href="{{page.root}}{% link _episodes/GWSearch.md %}">GW searches with enterprise</a>  </td>
    </tr>
    <tr>
      <td> 14:20 - 14:30 </td>
      <td> Short Break </td>
      <td> Short Break </td>
      <td> Short Break </td>
    </tr>
    <tr>
      <td> 14:30 - 15:30 </td>
      <td> Pulsar Data Theory </td>
      <td> Bayesian Inference </td>
      <td> Other </td>
    </tr>
    <tr>
      <td> 15:30 - 16:00 </td>
      <td> Afternoon Tea Break </td>
      <td> Afternoon Tea Break </td>
      <td> Afternoon Tea Break </td>
    </tr>
    <tr>
      <td> 16:00 - 17:30 </td>
      <td> GW Astrophysics </td>
      <td> Other </td>
      <td> SARAO Function </td>
    </tr>
  </table>
  <table>
    <tr>
      <td>Post-workshop</td>
      <td><a href="{{ site.post_survey }}" target="_blank">Post-workshop survey</a></td>
    </tr>
  </table>
</div>
