An aspirational plan for our week, see the <a href="{{site.ether_pad}}">etherpad</a> for adjustments as we go.
<div class="row">
  <table>
    <tr>
      <td>Pre-workshop</td>
      <td><a href="{{ site.pre_survey }}" target="_blank">Pre-workshop survey</a></td>
    </tr>
  </table>
  <table class="table table-striped">
    <tr>
      <th> Time</th>
      <th> Monday (25th) </th>
      <th> Tuesday (26th) </th>
      <th> Wednesday (27th) </th>
    </tr>
    <tr>
      <td> 09:00 - 9:50 </td>
      <td>No scheduled events</td>
      <td><a href="{{page.root}}{% link _episodes/PulsarData.md %}">Interacting with Pulsar Data</a></td>
      <td>Noise Modelling</td>
    </tr>
    <tr>
      <td> 9:50 - 10:00 </td>
      <td> No scheduled events </td>
      <td> Short Break </td>
      <td> Short Break </td>
    </tr>
    <tr>
      <td> 10:00 - 10:30 </td>
      <td> Morning Tea Break </td>
      <td> <a href="{{page.root}}{% link _episodes/PulsarData.md %}">Interacting with Pulsar Data</a> </td>
      <td> Noise Modelling </td>
    </tr>
    <tr>
      <td> 10:30 - 11:00 </td>
      <td> Arrival and check in </td>
      <td> Morning Tea Break </td>
      <td> Morning Tea Break </td>
    </tr>
    <tr>
      <td> 11:00 -  </td>
      <td> Registration and debug software </td>
      <td> Morning Tea Break </td>
      <td> Morning Tea Break </td>
    </tr>
    <tr>
      <td> 10:30 - 11:0 </td>
      <td> No scheduled events </td>
      <td> Morning Tea Break </td>
      <td> Morning Tea Break </td>
    </tr>
    <tr>
      <td> 10:30 - 11:0 </td>
      <td> No scheduled events </td>
      <td> Morning Tea Break </td>
      <td> Morning Tea Break </td>
    </tr>
    <tr>
      <td> 10:30 - 11:0 </td>
      <td> No scheduled events </td>
      <td> Morning Tea Break </td>
      <td> Morning Tea Break </td>
    </tr>
  </table>
  <table>
    <tr>
      <td>Post-workshop</td>
      <td><a href="{{ site.post_survey }}" target="_blank">Post-workshop survey</a></td>
    </tr>
  </table>
</div>
